Aula_05/.vscode/settings.json
Aula_05/run_08
Aula_05/run_07
Aula_05/run_06
Aula_05/run_05
Aula_05/run_04
Aula_05/run_03
Aula_05/run_02
Aula_05/run_01
Aula_05/run_00-11
Aula_05/run_00-10
Aula_05/run_00-9
Aula_05/run_00-8
Aula_05/run_00-7
Aula_05/run_00-6
Aula_05/run_00-5
Aula_05/run_00-4
Aula_05/run_00-3
Aula_05/run_00-1_omp
Aula_05/run_00-1
Aula_05/run_00-0_omp
Aula_05/run_00-0
Aula_05/integralSeq
Aula_05/integralPar_Crit
Aula_05/integralPar_Atom
Aula_05/integralPar_Alt
Aula_05/integralPar
